.authbutton[b-luuah7vcsc] {
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
}

.authbutton + .authbutton[b-luuah7vcsc] {
    margin-left: 0.75rem;
}

    .authbutton:hover[b-luuah7vcsc] {
        background-color: rgba(255,255,255,0.2);
    }

    .authbutton:active[b-luuah7vcsc] {
        background-color: rgba(255,255,255,0.3);
    }

.user-menu[b-luuah7vcsc] {
    opacity: 0;
    transform: scaleY(0.00);
    transform-origin: top center;
    transition: opacity 0.3s ease-in-out, transform .15s ease-in-out;
}

.authbutton:focus-within .user-menu[b-luuah7vcsc] {
    opacity: 1;
    transform: scaleY(1);
}
