<div  class="loggedout bg-gray-800 text-white py-5 px-6 rounded" role="alert">
   <p>You are logged out, You are not authorized to access to any resources.</p>
   <center>
    <a class="bg-white text-black py-1 px-4 mt-3 rounded inline-block" href="authentication/login">Log in</a> 
   </center>
   
</div>

                