nav[b-kpyc8s43a3] {
    width: calc(100vw - var(--scrollbar-width));
}

[b-kpyc8s43a3] .navlink {
    border-radius: 0.5rem;
    font-weight: 500;
    margin: 0.2rem 0.5rem;
    padding: 0.4rem 1.2rem;
}

    [b-kpyc8s43a3] .navlink.active {
        background-color: black;
    }

    [b-kpyc8s43a3] .navlink:not(.active):hover {
        background-color: rgba(0,0,0,0.3);
    }

.mobile-title[b-kpyc8s43a3]  .navlink {
    background: none;
    padding: 0;
    font-size: 1.1rem;
    margin-left: 0rem;
}

.mobile-title[b-kpyc8s43a3]  .navlink:not(.active) {
    display: none;
}

.logo[b-kpyc8s43a3] {
    filter: invert(1);
    opacity: 0.6;
    border-right: 0.5px solid rgba(0,0,0,0.6);
}

@media (min-width: 767px) { /* Equivalent to Tailwind's 'md' */
    [b-kpyc8s43a3] .navlink {
        margin: 0.2rem 0.5rem 0.2rem 0;
    }

    [b-kpyc8s43a3] .navlink + .navlink {
        margin-left: 0.5rem;
    }
}
